.style-0 {
    table-layout: fixed; 
    width: 956pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    width: 603px; 
    height: 451px
}

.style-11 {
    width: 423px; 
    height: 369px
}

.style-12 {
    width: 425px; 
    height: 369px
}

.style-13 {
    width: 427px; 
    height: 369px
}

.style-2 {
    color: maroon; 
    font-size: 14pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

.style-4 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-5 {
    width: 1275px; 
    height: 451px
}

.style-6 {
    color: blue; 
    font-size: 16pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: italic; 
    text-decoration: underline; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-7 {
    color: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    font-weight: inherit; 
    font-style: inherit; 
    text-decoration: inherit
}

.style-8 {
    width: 995px; 
    height: 663px
}

.style-9 {
    width: 636px; 
    height: 451px
}

