.style-0 {
    table-layout: fixed; 
    width: 968pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    width: 740px; 
    height: 381px
}

.style-11 {
    width: 521px; 
    height: 367px
}

.style-12 {
    width: 521px; 
    height: 356px
}

.style-2 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ff9999
}

.style-3 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-4 {
    width: 432px; 
    height: 381px
}

.style-5 {
    width: 427px; 
    height: 381px
}

.style-6 {
    width: 416px; 
    height: 381px
}

.style-7 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #9999ff
}

.style-8 {
    width: 1275px; 
    height: 414px
}

.style-9 {
    width: 535px; 
    height: 381px
}

