.style-0 {
    table-layout: fixed; 
    width: 964pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a; 
    background-color: #edeee7
}

.style-11 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-left: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a; 
    background-color: #edeee7
}

.style-12 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a; 
    border-right: 1pt solid #b2a79a; 
    background-color: #edeee7
}

.style-13 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-left: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a
}

.style-14 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a; 
    border-right: 1pt solid #b2a79a
}

.style-15 {
    font-size: 1pt; 
    border-top: 2pt solid black
}

.style-2 {
    font-size: 1pt; 
    border-top: 1pt solid black
}

.style-3 {
    color: #776a5b; 
    font-size: 14pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid white
}

.style-4 {
    color: black; 
    font-size: 14pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid white
}

.style-5 {
    font-size: 1pt; 
    background-color: #776a5b
}

.style-6 {
    color: white; 
    font-size: 12pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #776a5b
}

.style-7 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-8 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-9 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a; 
    background-color: #edeee7
}

