.style-0 {
    table-layout: fixed; 
    width: 856pt
}

.style-1 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

.style-10 {
    font-size: 1pt; 
    background-color: #ffcccc
}

.style-11 {
    font-size: 1pt; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-12 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

.style-13 {
    color: #0066cc; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

.style-14 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

.style-15 {
    color: black; 
    font-size: 14pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-16 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-17 {
    font-size: 1pt; 
    border-left: 2pt solid #5c7485; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-18 {
    font-size: 1pt; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-19 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-2 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-20 {
    font-size: 1pt; 
    border-bottom: 2pt solid #5c7485; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-21 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-22 {
    width: 1141px; 
    height: 461px
}

.style-23 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-left: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-24 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-25 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-right: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-26 {
    font-size: 1pt; 
    border-left: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-27 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-28 {
    font-size: 1pt; 
    background-color: #ccffcc
}

.style-29 {
    font-size: 1pt; 
    border-right: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-3 {
    width: 573px; 
    height: 400px
}

.style-30 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-31 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-right: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-32 {
    font-size: 1pt; 
    border-left: 2pt solid #5c7485; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-33 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-34 {
    font-size: 1pt; 
    border-bottom: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-35 {
    font-size: 1pt; 
    border-bottom: 2pt solid #5c7485; 
    border-right: 2pt solid #5c7485; 
    background-color: #ccffcc
}

.style-4 {
    width: 568px; 
    height: 400px
}

.style-5 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-left: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-6 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-7 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-8 {
    font-size: 1pt; 
    border-left: 2pt solid #5c7485; 
    background-color: #ffcccc
}

.style-9 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffcccc
}

