.style-0 {
    table-layout: fixed; 
    width: 862pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    width: 380px; 
    height: 347px
}

.style-11 {
    width: 389px; 
    height: 347px
}

.style-12 {
    width: 365px; 
    height: 347px
}

.style-13 {
    width: 563px; 
    height: 347px
}

.style-14 {
    width: 571px; 
    height: 347px
}

.style-15 {
    width: 572px; 
    height: 347px
}

.style-16 {
    width: 566px; 
    height: 347px
}

.style-17 {
    width: 576px; 
    height: 347px
}

.style-18 {
    width: 562px; 
    height: 347px
}

.style-19 {
    font-size: 1pt; 
    background-color: #ccffcc
}

.style-2 {
    color: black; 
    font-size: 20pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-20 {
    color: white; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #776a5b
}

.style-21 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-22 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-23 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a
}

.style-24 {
    font-size: 1pt; 
    border-top: 1pt solid #b2a79a; 
    border-bottom: 1pt solid #b2a79a; 
    border-right: 1pt solid #b2a79a
}

.style-3 {
    color: black; 
    font-size: 18pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-4 {
    color: #ee6363; 
    font-size: 12pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-5 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-6 {
    width: 1141px; 
    height: 380px
}

.style-7 {
    width: 573px; 
    height: 355px
}

.style-8 {
    width: 552px; 
    height: 355px
}

.style-9 {
    width: 369px; 
    height: 347px
}

