.style-0 {
    table-layout: fixed; 
    width: 856pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    width: 565px; 
    height: 413px
}

.style-11 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #666666
}

.style-12 {
    width: 1141px; 
    height: 476px
}

.style-13 {
    width: 1141px; 
    height: 473px
}

.style-2 {
    color: black; 
    font-size: 20pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    color: black; 
    font-size: 18pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-4 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-5 {
    width: 1141px; 
    height: 508px
}

.style-6 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #666666; 
    background-color: #ccccff
}

.style-7 {
    font-size: 1pt; 
    background-color: #ccccff
}

.style-8 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-top: 1pt solid black; 
    border-left: 1pt solid #666666; 
    border-bottom: 1pt solid #666666; 
    border-right: 1pt solid #666666; 
    background-color: #ccccff
}

.style-9 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #666666
}

