.style-0 {
    table-layout: fixed; 
    width: 871pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    width: 374px; 
    height: 356px
}

.style-11 {
    color: white; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #776a5b
}

.style-12 {
    font-size: 1pt; 
    background-color: #776a5b
}

.style-13 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-14 {
    width: 456px; 
    height: 361px
}

.style-15 {
    width: 346px; 
    height: 356px
}

.style-16 {
    color: white; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-17 {
    width: 582px; 
    height: 356px
}

.style-18 {
    color: black; 
    font-size: 12pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-19 {
    width: 377px; 
    height: 347px
}

.style-2 {
    color: black; 
    font-size: 20pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-20 {
    width: 370px; 
    height: 347px
}

.style-21 {
    width: 387px; 
    height: 347px
}

.style-22 {
    width: 571px; 
    height: 347px
}

.style-3 {
    color: black; 
    font-size: 18pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-4 {
    color: #ee6363; 
    font-size: 12pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-5 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-6 {
    width: 346px; 
    height: 347px
}

.style-7 {
    width: 347px; 
    height: 347px
}

.style-8 {
    width: 456px; 
    height: 347px
}

.style-9 {
    width: 397px; 
    height: 356px
}

