.style-0 {
    table-layout: fixed; 
    width: 956pt
}

.style-1 {
    color: black; 
    font-size: 16pt; 
    font-family: "\007b49\007ebf Light"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccccff
}

.style-10 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-11 {
    width: 669px; 
    height: 401px
}

.style-12 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-left: 2pt solid #5c7485; 
    background-color: #ffc607
}

.style-13 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    background-color: #ffc607
}

.style-14 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffc607
}

.style-15 {
    font-size: 1pt; 
    border-left: 2pt solid #5c7485; 
    background-color: #ffc607
}

.style-16 {
    color: black; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-17 {
    font-size: 1pt; 
    background-color: #ffc607
}

.style-18 {
    font-size: 1pt; 
    border-right: 2pt solid #5c7485; 
    background-color: #ffc607
}

.style-19 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-2 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-20 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-21 {
    color: maroon; 
    font-size: 16pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-3 {
    width: 619px; 
    height: 415px
}

.style-4 {
    width: 655px; 
    height: 415px
}

.style-5 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccccff
}

.style-6 {
    font-size: 1pt; 
    background-color: #ccccff
}

.style-7 {
    font-size: 1pt
}

.style-8 {
    color: blue; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: underline; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-9 {
    color: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    font-weight: inherit; 
    font-style: inherit; 
    text-decoration: inherit
}

