.style-0 {
    table-layout: fixed; 
    width: 856pt
}

.style-1 {
    color: black; 
    font-size: 16pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ccffcc
}

.style-10 {
    color: black; 
    font-size: 10pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid #b2a79a
}

.style-2 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    width: 588px; 
    height: 388px
}

.style-4 {
    width: 553px; 
    height: 388px
}

.style-5 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-6 {
    width: 1060px; 
    height: 253px
}

.style-7 {
    color: white; 
    font-size: 12pt; 
    font-family: "\009ed1\004f53"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #776a5b
}

.style-8 {
    font-size: 1pt; 
    background-color: #776a5b
}

.style-9 {
    font-size: 1pt
}

